:root {
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
}




.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--light-blue); 
}