:root {
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
    --white: hsl(0, 0%, 100%);
    --strong-cyan: hsl(171, 66%, 44%);
    --light-blue: hsl(233, 100%, 69%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3 {
    color: var(--dark-grayish-blue);
}

h1 {
    font-size: 2.1rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.2rem;
}

p {
    font-size: 0.9rem;
    color: var(--grayish-blue);
    line-height: 150%;
}

.flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

body {
    width: 100vw;
    height: auto;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    text-align: center;
    background-color: var(--white)
}

.header {
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: url(./images/bg-header-desktop.png) no-repeat;
    padding: 7rem 1rem 3rem 1rem;
}

.header__logo {
    width: 100px;
}

.header__title, .desktop-section__title {
    min-width: 320px;
    max-width: 530px;
    margin: 3rem auto 1rem auto;
}

.header__paragraph, .desktop-section__paragraph, .mobile-section__paragraph {
    max-width: 530px;
    text-align: center;
    margin: 0 auto;
}

.header__button {
    max-width: 400px;
    height: auto;
    margin: 2rem auto auto auto;
}

.button {
    width: 180px;
    height: 50px;
    border-radius: 50px;
    padding: 0 1remrem;
    color: var(--white);
    font-size: 1rem;
    font-family: 'Bai Jamjuree', sans-serif;
}

.button:nth-child(1) {
    background: var(--strong-cyan);
    border: var(--strong-cyan);
}

.button:nth-child(2) {
    background: var(--light-blue);
    border: var(--light-blue);
}

/* MAIN */

.main {
    padding: 4rem 1rem;
}

.desktop-section__title {
    margin-top: 0;
}

.desktop-section__paragraph {
    max-width: 550px;
    margin-bottom: 3rem;
}

.desktop-section__features {
    max-width: 95%;
    margin-left: -2rem; 
    align-items: flex-end;
    justify-content: space-between;
}

.features__img {
    width: 50%;
}

.features__text {
    min-width: 50%;
    height: 430px;
    text-align: left;
    padding-left: 5rem;
}

.features__title {
    margin-bottom: 0.5rem;
}

.features__paragraph {
    width: 50%;
    margin-bottom: 2.5rem;
}

.mobile-section {
    margin-top: 10rem;
}

.mobile-section__paragraph {
    max-width: 600px;
    padding: 0 1.5rem;
    margin: 1.5rem auto 5rem auto;
}

.mobile-section__img {
    width: 90%;
    
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: var(--light-blue); 
}

.flex-item {
    /*flex-grow: 1;
    flex-shrink: 1;*/
}

@media screen and (max-width: 1360px) {
    .desktop-section__features {
        width: 100%;
        margin: 0 auto; 
    }

    .features__img {
        width: 90%;
        margin: 0 auto 3rem auto;
    }
    
    .features__text {
        min-width: 100%;
        text-align: center;
        padding: 2.5rem;
    }

    .features__paragraph {
        width: 100%;
    }
}